<% if (theme.preloader.enable) { %>
 <div id="loading">
     <div class="loading-left-bg"></div>
    <div class="loading-right-bg"></div>
  <div class="spinner-box">
    <div class="blue-orbit leo"></div>
    <div class="green-orbit leo"></div>
    <div class="red-orbit leo"></div>
    <div class="white-orbit w1 leo"></div>
    <div class="white-orbit w2 leo"></div>
    <div class="white-orbit w3 leo"></div>
  </div>
  	<div class="text">
	<p>加载中...<br>-欢迎访问MSC&AoMe互助联盟~</p>
	</div>
 </div>
  <!-- 页面加载动画 -->
<script>
$(document).ready(
function () {
  document.body.style.overflow = 'auto';
  document.getElementById('loading').classList.add("loaded")
});
$(document).ready(function(){
function myfun() {
document.getElementById("loading").style.display="none";
}
setTimeout(myfun,10);
});
</script>
<% } %>